In [68]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform

path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
    
matplotlib.rcParams['axes.unicode_minus'] = False

%matplotlib inline

In [85]:
train = pd.read_csv('../../../data/Parking_Demand/train.csv')
test = pd.read_csv('../../../data/Parking_Demand/test.csv')
age = pd.read_csv('../../../data/Parking_Demand/age_gender_info.csv')
sub = pd.read_csv('../../../data/Parking_Demand/sample_submission.csv')

train.shape, test.shape, age.shape, sub.shape

((2952, 15), (1022, 14), (16, 23), (150, 2))

In [86]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [87]:
train.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수',
       '10분내버스정류장수', '단지내주차면수', '등록차량수']
test.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수',
       '10분내버스정류장수', '단지내주차면수']

In [88]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '10분내지하철수', '10분내버스정류장수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [89]:
train.isna().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            0
임대보증금         569
임대료           569
10분내지하철수      211
10분내버스정류장수      4
단지내주차면수         0
등록차량수           0
dtype: int64

In [90]:
test.isna().sum()

단지코드            0
총세대수            0
임대건물구분          0
지역              0
공급유형            0
전용면적            0
전용면적별세대수        0
공가수             0
자격유형            2
임대보증금         180
임대료           180
10분내지하철수       42
10분내버스정류장수      0
단지내주차면수         0
dtype: int64

In [91]:
### 자격유형 isnull 확인
test.loc[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [92]:
grouped = test.groupby(['단지코드', '임대건물구분', '지역','공급유형'])
group1 = grouped.get_group( ('C2411', '아파트', '경상남도', '국민임대')  )
group1

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0

In [93]:
test.loc[196,'자격유형'] = 'A'

In [94]:
group2 = grouped.get_group( ('C2253', '아파트', '강원도', '영구임대')  )
group2

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0

In [95]:
test.loc[258,'자격유형'] = 'C'

In [96]:
print(train.자격유형.unique())
print(test.자격유형.unique())

['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']
['H' 'A' 'E' 'C' 'D' 'G' 'I' 'J' 'K' 'L' 'M' 'N']

In [97]:
### 라벨인코딩
mapping = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 
           'F':6, 'G':7, 'H':8, 'I':9, 'J':10, 
           'K':11, 'L':12, 'M':13, 'N':14, 'O':15}
train['자격유형'] = train['자격유형'].map(mapping).astype(int)
test['자격유형'] = test['자격유형'].map(mapping).astype(int)

train.head(3), test.head(3)

(    단지코드  총세대수 임대건물구분    지역  공급유형   전용면적  전용면적별세대수   공가수  자격유형     임대보증금  \
 0  C2483   900    아파트  경상북도  국민임대  39.72       134  38.0     1  15667000
 1  C2483   900    아파트  경상북도  국민임대  39.72        15  38.0     1  15667000
 2  C2483   900    아파트  경상북도  국민임대  51.93       385  38.0     1  27304000

       임대료  10분내지하철수  10분내버스정류장수  단지내주차면수   등록차량수
 0  103680       0.0         3.0   1425.0  1015.0
 1  103680       0.0         3.0   1425.0  1015.0
 2  184330       0.0         3.0   1425.0  1015.0  ,
     단지코드  총세대수 임대건물구분   지역  공급유형   전용면적  전용면적별세대수   공가수  자격유형     임대보증금  \
 0  C1072   754    아파트  경기도  국민임대  39.79       116  14.0     8  22830000
 1  C1072   754    아파트  경기도  국민임대  46.81        30  14.0     1  36048000
 2  C1072   754    아파트  경기도  국민임대  46.90       112  14.0     8  36048000

       임대료  10분내지하철수  10분내버스정류장수  단지내주차면수
 0  189840       0.0         2.0    683.0
 1  249930       0.0         2.0    683.0
 2  249930       0.0         2.0    683.0  )

In [98]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,10분내지하철수,10분내버스정류장수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,8,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,1,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,8,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,8,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,8,43497000,296780,0.0,2.0,683.0

In [99]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지코드        2952 non-null   object
 1   총세대수        2952 non-null   int64
 2   임대건물구분      2952 non-null   object
 3   지역          2952 non-null   object
 4   공급유형        2952 non-null   object
 5   전용면적        2952 non-null   float64
 6   전용면적별세대수    2952 non-null   int64
 7   공가수         2952 non-null   float64
 8   자격유형        2952 non-null   int32
 9   임대보증금       2383 non-null   object
 10  임대료         2383 non-null   object
 11  10분내지하철수    2741 non-null   float64
 12  10분내버스정류장수  2948 non-null   float64
 13  단지내주차면수     2952 non-null   float64
 14  등록차량수       2952 non-null   float64
dtypes: float64(6), int32(1), int64(2), object(6)
memory usage: 334.5+ KB

In [100]:
### 데이터 나누기
from sklearn.model_selection import train_test_split

sel = ['총세대수', '자격유형', '전용면적별세대수']
X = train[sel]
y = train['등록차량수']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)

In [101]:
### 데이터 학습
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X_train, y_train)   # 학습
pred = model.predict(X_test)
pred

array([ 440.11634689,  365.14306878,  497.05008351,  679.71799083,
        757.86739573,  989.07012489,  378.40084159,  888.5511174 ,
        472.63620684,  496.92500993,  527.02276876, 1111.48059153,
        699.91298151,  482.57478607,  645.71917825,  751.64422844,
        451.92237289,  635.54884954,  627.58896149,  906.71140723,
        715.58634599,  463.29119714,  569.99235458,  917.89328648,
        571.13258697,  603.07695617,  496.54464091,  493.7898425 ,
        511.89054195,  714.50827989,  388.63511347,  440.26138221,
        718.00526736,  905.57544847,  610.42140242,  380.74862092,
        469.35666946,  272.30686718,  613.63404736,  786.7600223 ,
        633.43486387,  439.58369847,   82.93360107,  382.69861784,
        414.46753219,  577.81899232,  545.63283797,  612.19098145,
        387.69868372,  678.65789389,  446.5534041 ,  263.82747048,
        647.84550468,  398.65385218,  773.84880002,  473.83879076,
        747.38438309,  167.68022447,  626.42226429,  802.60860477,
        483.42062258,  329.83860463,  744.84800912,  575.81394595,
        423.30914348,  310.18218563,  675.36479461,  691.98921704,
        433.52557984,  278.68908424,  425.70613458,  602.49740109,
        315.8802675 ,  599.62366165,  378.40084159,   92.56222995,
        705.84504229,  650.83669672,  845.22848436,  981.83161352,
        469.89677764,  540.05245195,  683.25911743,  517.7546808 ,
        353.78348119,  321.2120464 ,  722.27442502,  597.68290139,
        454.89862421,   87.25152432,  526.24257314,  271.4374331 ,
        718.09445421,  650.83669672,  433.69373262,  639.95534589,
        827.98415486,  739.4828678 ,  481.7658962 ,  398.65385218,
        423.99295978,  491.23449105,  510.21407693,  454.08171881,
        650.83669672,  906.71140723,  494.5894957 ,  835.85690025,
        789.6199566 ,  471.6933532 ,  626.32580931,  568.64622377,
        613.52885987,  535.19927395,  695.39481227,  489.17701922,
        493.93052215,  357.75933685,  560.09170627,  641.83393987,
        230.18325151,  806.72936211,  906.71140723,  636.80322112,
        504.86599616,  597.06873871,  982.15769815,  520.44792669,
        506.02159777,  905.57544847,  737.2407801 ,  430.81794899,
        534.11693421,  675.37100282,  527.74557588,  576.02382315,
        464.26415142,  900.99819939,  272.62204785,   82.39022756,
        969.70764569,  502.02609927,  762.80288063,  492.43726023,
        576.17145841,  563.71588716,  839.47388867,  840.65823613,
        368.47476434,  850.83756463,  345.2637905 ,  474.92267053,
        734.05534099,   13.09674325,  741.07407313,  617.37456931,
        565.38598276,  620.98852928,  470.02208808,  639.19311944,
        439.54985593,  545.5631087 ,  505.3243228 ,  420.60560101,
        629.58408179,  679.37449281,  803.03128793,  422.64069641,
        493.41666596,  778.24189568,  625.29652646,  126.98274142,
        382.7613915 ,  516.75507646,  478.77836403,  403.7656666 ,
        624.75315296,  368.04412365,  534.11693421,  572.44574991,
        380.45154307,  702.39098271,  561.45525049,  579.32199507,
        695.98230085,  490.10986475,  435.35769566,  623.48394388,
        611.85504641,  692.81769814,  715.58634599,  740.77267003,
        486.1490078 ,  397.47940674,  732.45187055,  715.58634599,
        243.52784808,  565.33063845,  121.10883419,  473.17034368,
        549.15450697,  399.62625069,  460.48923116,  454.23418347,
        127.64232234,  502.59407865,  942.0925902 ,  506.58679194,
       1131.82042588,  582.22647294,  555.9743479 ,  434.23710612,
        440.11634689,  403.7656666 ,  710.60821039,  383.18149874,
        853.72470475,  679.85843362,  611.50814942,  398.65385218,
        468.01749425,  394.76253924,  455.95667697,  639.19311944,
        392.97405838,  451.5778906 ,  502.59407865,  561.6541417 ,
        511.75909896,  491.3323588 ,  180.00867797,  517.12106052,
        616.67939652,  736.63479416,  449.33057896,  775.69408956,
        905.57544847,  643.33861629,  431.5966562 ,  594.41031961,
        549.35461932,  573.70988635,  426.0865036 ,  712.45365124,
        597.62487509,  392.97405838,  392.97405838,  615.06811985,
        617.38274605,  470.37965854,  488.38480173,  613.63404736,
        906.71140723,  462.51304571,  582.49509341,  545.38367508,
        491.23449105,  353.78348119,  473.19699375,  599.39812038,
        479.19461977,  628.10772911,  454.38909325,  906.71140723,
        556.761736  ,  507.8662976 ,  729.88096463,  575.81394595,
        819.37520166,  570.37476778,  504.86599616,  478.5435861 ,
        503.24554082,  421.10589531,  466.30455632,  595.03576315,
        763.98600696,  901.83570785,  786.5934336 ,  449.11427435,
        392.97405838,  531.52254033,  586.26796949,  639.19311944,
        772.95226333,  511.83904915,  547.73145442,  538.46949902,
        390.45985156,  374.88326095,  431.5966562 ,  592.34963407,
        695.62035354,  150.59863855,  353.78348119,  772.95226333,
        630.94762601,  576.81113559,  640.19110809,  487.52874429,
        790.89657097,  652.87569523,  906.71140723,  520.90112908,
        263.67574684,  604.57860414,  590.67128608,  512.47285468,
        419.67057764,  484.42741939,  444.05576006,  545.63283797,
         90.69292424,  568.2597222 ,  587.5732265 ,  600.30134539,
        414.98629982,  184.00691006,  468.57419279,  392.97405838,
        371.21419354,  382.50888126,  750.61592985,  353.42102973,
        415.12525419,  503.81866849,  415.88748064,  545.37549834,
        574.45828361,  630.66462058,  487.52972855,  684.94458224,
        633.92077322,  715.58634599,  478.73324065,  536.53797542,
        398.65385218,  511.74168556,  801.58574933,  650.5279159 ,
        584.01755374,  296.70314518,  542.83904872,   88.94659631,
        503.7735451 ,  392.97405838,  238.68056577,  639.19311944,
        741.05764399,  403.7656666 ,  639.57134457,  376.21866669,
        483.95313736,  511.92948117,  489.69095745,  430.48721386,
        498.47926862,  498.80384078,  803.34466128,  611.20977478,
        434.27094866,  402.24469468,  622.70473253,  650.83669672,
        345.83176988,  657.93792738,  538.39568138,  393.75165405,
        645.15690292,  502.59407865,  668.35121076,  465.88707945,
        600.30543376,  529.47207571,  683.92143195,  492.31062258,
        250.29847725,  637.28973432,  488.19923555, 1026.13196095,
        600.50841334,  595.9297515 ,  905.57544847,  502.59407865,
        568.41447428,  349.52876009,  645.15690292,  835.13849402,
        530.0174934 ,  576.39086713,  667.90421659,  504.86599616,
        450.20510972,  127.26450167,  715.58634599,  639.19311944,
        312.14675276,  504.86599616,  522.45947613,  722.81779852,
        747.26960609,  830.21676265,  593.94901614,  716.10888309,
        597.85952576,  504.39384035,  291.55812603,  615.24824288,
        226.39004318,  550.54780536,  276.32779461,  302.63972284,
        441.01492776,  494.20814242,  473.62713029,  382.78530797,
        509.54767404,  491.045265  ,  603.89683203,  558.62148614,
        803.866533  ,  283.80480177,  412.6918206 ,  511.71707968,
        468.32131204,  502.02609927,  645.15690292,  527.06478804,
        905.57544847,  603.9009204 ,  757.12815947,  477.24462285,
        567.50413245,  568.64622377,  414.14070017,  597.94841776,
        244.85433606,  607.06069371,  705.98745362,  603.83225105,
        386.68779853,  558.58665934,  642.35332125,  639.19311944,
        276.88704148,  560.74985677,  464.15240287,  437.72084422,
        473.62713029,  759.38606255,  590.19461339,  693.85183443,
        529.13168179,  615.24824288,  791.40270935,  491.23449105,
        690.54647003,  523.48164216,  440.59458365,  450.16513463,
        238.68056577,  573.24131475,  716.76907777,  516.55618525,
        905.57544847,  505.86708892,  233.44349252,  776.56566753,
        707.21304539,  729.63355108,  871.89694079,  508.14718318,
        910.38589374,  477.38710983,  120.02208719,  610.0841126 ,
        187.26715107,  399.62625069,  650.83669672,  715.58634599,
        906.71140723,  715.58634599,  598.44977198,  689.99900816,
        435.78008396,  602.52205857,  630.18999208,  458.61236246,
       1017.89315584,  690.30147117,  448.84360969,  630.24836484,
        906.71140723,  534.82994891,  464.32873239,  373.81490524,
        620.89010576,  449.61971694,  502.02609927,  570.96939723,
         89.96839183,  614.64642096,  561.76904596,   23.59308093,
        509.49846229,  687.82551416,  906.71140723,  333.62021322,
        667.45411831,  650.83669672,  614.64642096,  398.65385218,
        470.66364823,  530.72254418,  652.83739381,  906.71140723,
        421.64926881,  454.2773447 ,  407.49960345,  251.73398017,
        550.2309574 ,  856.17287613,  654.44389271,  493.81036   ,
        765.91132235,  392.15946446,  307.29190746,  437.31833563,
        593.20380854,  332.1242693 ,  639.19311944,  428.6823859 ,
        779.30804952,  403.7656666 ,  433.72757516,  567.96959995,
         26.30994844,  905.57544847,  510.78614468,  617.18491477,
        716.91852036,  528.93892314,  597.70955145,  542.32951776,
        465.09560298,  422.28288908,  102.34295297,  662.1761953 ,
        617.0116137 ,  474.28374075,  496.55592176,  382.69861784,
        481.4439756 ,  532.8573903 ,  497.49912187,  623.08199744,
        604.38077285,  715.58634599,  577.70519959,  374.06741547,
        131.03719249,  504.86599616,  781.75594372,  453.25517867,
        781.75594372,  643.70460035,   86.19384208,  734.55866374,
        506.4176549 ,  538.66961136,  675.22026345,  383.16612953,
        592.57721953,  431.93134606,  595.17620594,  433.40124729,
        826.13364138,  531.55123458,  849.92109024,  486.0575399 ,
        333.62021322,  410.34404127,  825.93058614,  333.62021322,
        124.51671047,  536.04994623,  542.09269564,  619.86074726,
        639.19311944,  547.32753945,  636.74636082,  448.02752734,
        121.39282388,  454.21276373,  715.58634599,  213.62252901,
        521.63620131,  499.92480721,  667.90830496,  459.02007095,
        601.82993827,  474.48778025,  481.72486118,  639.19311944,
        466.68264428,  707.07321635,  569.39053266,  620.34877645,
        241.00578341,  748.97354423,  614.66587855,  440.11634689,
        491.23449105,  715.58634599,  534.11693421,  686.15231445,
        683.40054448,  415.12525419,  651.92493214,  523.49701138,
        771.99510677,  612.05152292,  463.39798265,  405.58488588,
        749.59989637,  499.71259097,  618.27370595,  712.11325732,
        617.78363258,   90.03334331,  667.99234352,  327.3612108 ,
         19.07385177,  715.58634599,  502.59407865,  462.53765159,
        650.83669672,  424.494314  ,  906.71140723,  135.07781437,
        846.6218584 ,  567.80168404,  676.9392519 ,  764.5949457 ,
        487.27549303,  513.01442086,  124.20092243,  362.92904392,
        628.00112886,  448.4560482 ,  536.59127555,  580.05297893,
        674.83785024,  456.69485331,  391.68582022,  490.69465016,
        511.67195629,  636.8057935 ,  906.71140723,  558.62148614,
        333.62021322,  576.02382315,  534.62007171,  422.4870898 ,
        526.63217881,  525.01376128,  737.7841536 ,  616.36572831,
        492.82612488,  557.23538023,  736.63479416,  399.55243305,
        462.73139451,  489.50228717,  687.34975008,  498.96010533,
        491.66964862,  431.5966562 ,  457.9825357 ,  502.59407865,
        403.7656666 ,  456.1514798 ,  392.97405838,  439.04032497,
        445.07073361,  516.96116014,  395.78879364,  471.11783488,
        544.89670581,  721.76898243,  434.10484007,  804.83441464,
        260.9831147 ,  344.13568958,  813.04437419,  498.70072152,
        613.63404736,  510.78614468,  481.71055189,  650.83669672,
        440.11634689,  599.80519107,  345.83176988,  944.92938299,
        727.70816004,  365.14306878,  427.40924966,  905.57544847,
        531.67630815,  788.63980985,  681.83818471,  466.22951755,
        584.78033596,  715.58634599,  596.67114154,  532.8573903 ,
        599.34989288,  715.58634599,  622.26084246,  772.24238669,
        336.05518683,  539.9201859 ,  715.58634599,  639.19311944,
        403.7656666 ,  803.93118963,  342.09223218,  333.62021322,
        447.83681288,  419.10110984,  788.58953817,  562.92335077,
        404.23057833,  534.11693421,  684.88817801,  392.97405838,
        633.48611981,  608.99327723])

In [102]:
dict_dat = {"실제값":y_test, "예측값":pred, "오차":y_test - pred}
dat = pd.DataFrame(dict_dat )
dat

         실제값         예측값          오차
250    108.0  440.116347 -332.116347
781     93.0  365.143069 -272.143069
692    359.0  497.050084 -138.050084
21    1064.0  679.717991  384.282009
2428   780.0  757.867396   22.132604
...      ...         ...         ...
378    127.0  534.116934 -407.116934
870    548.0  684.888178 -136.888178
112     62.0  392.974058 -330.974058
1424   657.0  633.486120   23.513880
1125  1162.0  608.993277  553.006723

[738 rows x 3 columns]

In [103]:
dat['오차절대값'] = abs(dat['오차'])
dat['오차제곱'] = dat['오차'] ** (2)
dat

         실제값         예측값          오차       오차절대값           오차제곱
250    108.0  440.116347 -332.116347  332.116347  110301.267871
781     93.0  365.143069 -272.143069  272.143069   74061.849887
692    359.0  497.050084 -138.050084  138.050084   19057.825556
21    1064.0  679.717991  384.282009  384.282009  147672.662570
2428   780.0  757.867396   22.132604   22.132604     489.852172
...      ...         ...         ...         ...            ...
378    127.0  534.116934 -407.116934  407.116934  165744.198123
870    548.0  684.888178 -136.888178  136.888178   18738.373279
112     62.0  392.974058 -330.974058  330.974058  109543.827323
1424   657.0  633.486120   23.513880   23.513880     552.902561
1125  1162.0  608.993277  553.006723  553.006723  305816.435433

[738 rows x 5 columns]

In [104]:
### MAE
mae_val = dat['오차절대값'].sum()/dat.shape[0]
mae_val

281.25859586880335

In [105]:
### MSE
mse_val = dat['오차제곱'].sum()/dat.shape[0]
mse_val

141549.23015325118

In [106]:
### RMSE
rmse_val = mse_val ** 0.5
rmse_val

376.23028872387613

In [107]:
from sklearn.metrics import mean_squared_log_error
np.sqrt(mean_squared_log_error(abs(y_test), abs(pred)))

0.806367541772341

In [108]:
# R^2의 값을 구하기- 결정계수 구하기
print("훈련 데이터 세트 점수 : {:.2f}".format(model.score(X_train, y_train)))
print("테스트 데이터 세트 점수 : {:.2f}".format(model.score(X_test, y_test)))

훈련 데이터 세트 점수 : 0.17
테스트 데이터 세트 점수 : 0.22

In [109]:
for i in range(1, 10, 1):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=(i/10), random_state=42)

    model = LinearRegression()
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    pred[:5]
    
    mae = np.abs(y_test - pred).sum() / len(pred)
    mse = ((y_test - pred)**2).sum()/len(pred)
    rmse = (((y_test - pred)**2).sum()/len(pred))**0.5
    
    print("test_size : ",(i/10))
    print("MAE : {:.3f}".format(mae))
    print("MSE : {:.3f}".format(mse))
    print("RMSE : {:.3f}".format(rmse))
    print("")

test_size :  0.1
MAE : 276.831
MSE : 143942.376
RMSE : 379.397

test_size :  0.2
MAE : 287.799
MSE : 150160.884
RMSE : 387.506

test_size :  0.3
MAE : 287.457
MSE : 153944.636
RMSE : 392.358

test_size :  0.4
MAE : 287.850
MSE : 156616.034
RMSE : 395.747

test_size :  0.5
MAE : 286.886
MSE : 156244.768
RMSE : 395.278

test_size :  0.6
MAE : 284.607
MSE : 152625.235
RMSE : 390.673

test_size :  0.7
MAE : 283.592
MSE : 152192.148
RMSE : 390.118

test_size :  0.8
MAE : 286.082
MSE : 154891.521
RMSE : 393.563

test_size :  0.9
MAE : 286.719
MSE : 155721.977
RMSE : 394.616